<div id="cervical-screening">
<div class="container-end" id="home-panel">
            <div class="box">
                <h2 class="h4">{{ strings.home.title }}</h2>
                
                <div>  
                    {{ strings.home.intro|raw }}
                    
                </div>
                <div class="buttons" style="text-align: center; margin-top: 2rem;">
                    <a class="btn btn-primary" style="margin: 0.5rem 0rem;" id="todisclaimer" role="button">{{ strings.home.risk_button }}</a>
                    <a class="btn btn-tertiary" style="margin: 0.5rem 0rem;" id="toscreening" role="button">{{ strings.home.pap_button }}</a>
                    <a class="btn btn-tertiary" style="margin: 0.5rem 0rem;" id="tovaccination" role="button">{{ strings.home.vaccine_button }}</a>
                    
                </div>
            </div>
        </div>
      <!-- DISCLAIMER -->
        <div class="container-end hidden" id="disclaimer-panel">
          <div class="box">
              <h2>{{ strings.disclaimer.title }}</h2>
              <p>
             {{ strings.disclaimer.intro }}
              </p>
              <br/>
              <a class="btn btn-secondary tohome" role="button">{{ strings.home_button }}</a>
              <a class="btn btn-primary next_btn" role="button" id="toform">{{ strings.proceed }}</a>
              <br>
              <h4 id="disclaimer">{{ strings.disclaimer.disclaimer_title }}:</h4>
              <ul class="ul-disclaimer">
                  {{ strings.disclaimer.disclaimer|raw }}
                  <br>
                  <li>{{ strings.glossary|raw }}</li>
              </ul>
              
          </div>
      </div> 
      <!-- FORM -->
      <div class="container-box hidden" id="form-panel">
        <div class="box">
                <label for="radios" id="questionText" class="font-size-md font-weight-bold" style="margin: 0rem;">{{ strings.assessment.which_test }}<br><span style="font-size: 0.75em; font-weight: normal">{{ strings.assessment.have_record }}</span></label> 
                <input hidden id="questionNum" value="0">
                <hr class="line">
                <ul class="form-check" id="radios">
                    <li>
                        <input id="0" name="question" type="radio" value="0"> 
                        <label for="0">{{strings.assessment.hpv}}</label>
                    </li>
                    <li>
                        <input id="1" name="question" type="radio" value="1">
                        <label for="1">{{ strings.assessment.colposcopy }}</label>
                    </li>
                </ul>
                <button class="btn btn-secondary" id="back">{{ strings.back_button }}</button>
                <button type="submit" class="btn btn-primary" id="next">{{ strings.next_button }}</button>        
        </div>
        <div class="box">
            <div>
                <p class="font-size-md font-weight-bold">{{ strings.assessment.previous }}:</p>
                <hr class="line">
                <div id="display"></div>
            </div>
        </div>
      </div>
      <!-- END -->
      <div class="container-end hidden" id="end-panel">
          <div class="box" style="display: grid; align-content: center;">
              <div>
                  <div>   
                      <h2>{{ strings.results.what_do }}</h2> 
                      <hr class="line">
                      <p id="management"></p>
                  </div>

                  <div class="hidden fudge">
                      <p class="font-size-md" style="margin: 0rem;">{{ strings.results.note }}</p> 
                      <hr class="line">
                      <p id="fudge"></p>
                  </div>

                  <h5 class="hidden curr-risk">{{ strings.results.risk }}: <span id="curr-risk"></span></h5>
                      
                  <h5 class="hidden five-year-risk">{{ strings.results.five_year }}: <span id="five-year-risk"></span></h5>
                  <p>{{ strings.results.talk }}</p>
                  <p class="">{{ strings.glossary|raw }}</p>
                  <br>
                  <a class="btn btn-secondary button next-btn reloadhome" role="button">{{ strings.home_button }}</a>
              </div>
          </div>
      </div>
      <!-- SCREENING -->
      <div class="container-end hidden" id="screening-panel">
        <div class="box">
            {{ strings.screening|raw }}
            
            <a class="btn btn-secondary tohome"  role="button">{{ strings.home_button }}</a>
            
        </div>
    </div>
    <!-- VACCINATION -->
    <div class="container-end hidden" id="vaccination-panel">
      <div class="box">
          {{ strings.vaccination|raw }}
          <a class="btn btn-secondary tohome">{{ strings.home_button }}</a>

      </div>
  </div> 
  <!-- DEFINITIONS -->
  <div class="container-end hidden" id="definitions-panel">
    <div class="box">
        {{ strings.glossary_page|raw }}
        <br>
        <br>
        <a class="btn btn-secondary tohome">{{ strings.home_button }}</a>
    </div>    
</div>  
</div>
{# <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> #}
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> #}
